<section class="banner">
  <div class="container">
    <div class="left">
      <h2 class="banner__title">Супер кресло</h2>
      <p class="banner__text">
        Текст акции всегда отражает суть, а не просто болтовню, поэтому
        внимательнее
      </p>
      <div class="banner__btn"><button class="btn">Подробнее</button></div>
    </div>
    <div class="right">
      <div class="banner__img">
        <div class="ellipse"><img src="@img/banner.png" alt="banner image" /></div>
      </div>
    </div>
  </div>
</section>