<section class="products">
  <div class="container">
    <h3 class="products__title">Специальные предложения</h3>
    <div class="products__items">
      <div class="products__item product">
        <div class="product__img">
          <img src="@img/product.png" alt="product image" />
        </div>
        <h2 class="product__title">
          Парикмахерское кресло «Норм» гидравлическое
        </h2>
        <div class="product__price">9 900 ₽</div>
        <div class="product__btn"><button class="btn">Купить</button></div>
      </div>
      <div class="products__item product">
        <div class="product__img">
          <img src="@img/product.png" alt="product image" />
        </div>
        <h2 class="product__title">
          Парикмахерское кресло «Норм» гидравлическое
        </h2>
        <div class="product__price">9 900 ₽</div>
        <div class="product__btn"><button class="btn">Купить</button></div>
      </div>
      <div class="products__item product">
        <div class="product__img">
          <img src="@img/product.png" alt="product image" />
        </div>
        <h2 class="product__title">
          Парикмахерское кресло «Норм» гидравлическое
        </h2>
        <div class="product__price">9 900 ₽</div>
        <div class="product__btn"><button class="btn">Купить</button></div>
      </div>
      <div class="products__item product">
        <div class="product__img">
          <img src="@img/product.png" alt="product image" />
        </div>
        <h2 class="product__title">
          Парикмахерское кресло «Норм» гидравлическое
        </h2>
        <div class="product__price">9 900 ₽</div>
        <div class="product__btn"><button class="btn">Купить</button></div>
      </div>
    </div>
  </div>
</section>