@import '_fonts';
@import '_null';

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;

  &.stop-scroll {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 320px;

  .main {
    flex: 1 1 auto;
  }
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

@import '_header';
@import '_banner';
@import '_products';
@import '_service';
@import '_footer';
